* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular") url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold") url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.2;
  height: 100%;
}

.header {
  padding: 1rem;
  position: relative;
  z-index: 1;
  background-color: aliceblue;
  background-image: url(../images/bg__desktop.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header::after {
  content: "";
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar {
  left: 0;
  top: 0;
  width: 100%;
  height: 1rem;
  position: relative;
  z-index: 5;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  width: 25%;
  display: flex;
  align-items: center;
}

.phone__link {
  text-decoration: none;
  color: aliceblue;
  font-size: 0.9rem;
}

.call__wrap {
  display: flex;
  justify-content: center;
}

.first-phone__icon {
  width: 150%;
}

.phone__icon {
  max-width: 16px;
  width: 20%;
  height: 20%;
  margin-right: 1rem;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

.header__title {
  margin-top: 3rem;
  position: relative;
  z-index: 3;
}

.page__title {
  font-family: "Open Sans Regular", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.work-list {
  margin-top: 2rem;
  list-style-type: none;
}

.work-item {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.deco__icon {
  width: 20%;
  margin-right: 1rem;
}

.deco-text {
  margin-top: 15px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: block;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.form-application {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.application-btn {
  background-color: #2b929b;
  min-width: 260px;
  letter-spacing: 1.3px;
  min-height: 48px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}

.trend-list__header {
  margin-top: 3rem;
}

.trend-list__title {
  font-size: 1.5rem;
  color: #000;
  font-weight: bold;
  text-align: center;
}

.trend-list-container {
  padding: 1rem;
}

.trend {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
}

.trend::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.55;
}

.trend:first-child {
  background-image: url(../images/heating_radiators.jpg);
}

.trend:nth-child(2) {
  background-image: url(../images/water_heater.jpg);
}

.trend:nth-child(3) {
  background-image: url(../images/underfloor_heating.jpg);
}

.trend:nth-child(4) {
  background-image: url(../images/sewage_system.jpg);
}

.trend-container {
  position: relative;
  z-index: 3;
  padding: 2rem;
  border: 3px solid #3696b7;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.tag-list {
  list-style-type: none;
}

.tag-item {
  display: inline-block;
}

.link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.tag {
  color: #fde652;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 2px;
  border-radius: 5px;
}

.trend__title {
  margin-top: 1rem;
  font-size: 18px;
  color: #fff;
}

.main {
  padding: 0 1rem;
}

.services__header {
  margin-top: 2rem;
  text-align: center;
}

.services__title {
  font-family: "Open Sans Bold";
  font-size: 24px;
}

.services-list {
  margin-top: 1.5rem;
}

@media (max-width: 1000px) {
  .navbar__wrap .menu {
    display: none;
  }

  .hamb {
    display: flex;
    align-items: center;
  }

  .hamb__field {
    padding: 20px 10px;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: 0.2s;
  }

  .popup {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    transition: 0.3s;
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 50px 0;
    overflow: auto;
  }

  .popup .menu > li {
    width: 100%;
  }

  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
  }

  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body.noscroll {
    overflow: hidden;
  }
}
